/* animation */
@keyframes ani{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes updown{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-50%);
    }
}
/* Header */
.header{
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #ddd;
}

.header .container,
.container .row
{
    height: 100%;
}

.header-logo-img{

    width: 64px;
    height: 32px;
    vertical-align: middle;
    border-style: none;
}

.header-main{
    display: flex;
    align-items: center;
}
/* .header-logo{
  
} */

.header-menu{
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}
.header-item{
    margin: 10px;
    list-style: none;
    font-size: 14px;
    color: #222222;
    position: relative;
}

.header-item::after{
    
}

.header-item-link{
    color: #222222;
    text-decoration: none;
    font-weight: 500;
}

.header-item-link:hover{
    color: #007bff;
    text-decoration: none;
}

.header-item:hover .header-item-menu-wrap{
    display:block;
}

.header-item-menu-wrap{
    position: absolute;
    width: 580px;
    display: none;
    top: 100%;
    left: 0;
    animation: ani linear 0.2s;
    z-index: 1;
}
    
.header-item-menu{
    display: flex;
    justify-content: space-around;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 3px;
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.22);
}

.header-item-menu-element{
    margin: 20px 0;
}

.header-item-heading{
    font-size: 18px;
    font-weight: 700px;
    margin-bottom: 20px;
}

.header-item-list{
    list-style: none;
    padding: 0;
}

.header-item-element{
    margin-bottom: 20px;
}

.header-item-element:last-child{
    margin-bottom: 0;
}

.header-element-link{
    text-decoration: none;
    font-size: 14px;
    color: #222222;
    font-weight: 500;
}

.header-element-link:hover{
    text-decoration: none;
    color:#909090;
}

.header-item-link{

}
/* menu-playlist */
.header-item-menu-playlist-wrap{
    position: absolute;
    z-index: 1;
    width: 580px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 3px;
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.22);
    display: none;
    animation: ani linear 0.2s;
}

.header-item:hover .header-item-menu-playlist-wrap{
    display: block;
}

.header-item-menu-playlist{
    display: flex;
    justify-content: space-around;
}

.header-item-menu-playlist-element{
    margin: 20px 0;
}

.header-item-menu-playlist-heading{
    font-size: 18px;
    font-weight: 700px;
    margin-bottom: 20px;
    color: #222222;
}

.header-item-menu-playlist-ul{
    list-style: none;
    padding: 0;
}

.header-item-menu-playlist-li{
    margin-bottom: 20px;
}

.header-item-menu-playlist-li:last-child{
    margin-bottom: 0;
}

.header-item-menu-playlist-link{
    text-decoration: none !important;
    font-size: 14px;
    color: #222222;
    font-weight: 500;
}

.header-item-menu-playlist-link:hover{
    color:#909090;
}
/* Menu Tuyen Tap */

.header-menu-tuyentap-wrap{
    position: absolute;
    z-index: 1;
    width: 580px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 3px;
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.22);
    display: none;
    animation: ani linear 0.3s;
}

.header-item:hover .header-menu-tuyentap-wrap{
    display: block;
}

.header-menu-tuyentap{
    display: flex;
    justify-content: space-around;
}

.header-menu-tuyentap-element{
    margin: 20px 0;
}

.header-menu-tuyentap-heading{
    font-size: 18px;
    font-weight: 700px;
    margin-bottom: 20px;
    color: #222222;
}

.header-menu-tuyentap-ul{
    padding: 0;
}

.header-menu-tuyentap-li{
    list-style: none;
    margin-bottom: 20px;
}

.header-menu-tuyentap-li:last-child{
    margin-bottom: 0;
}

.header-menu-tuyentap-link{
    text-decoration: none !important;
    font-size: 14px;
    color: #222222;
    font-weight: 500;
}

.header-menu-tuyentap-link:hover{
    color:#909090;
}
/*Menu Video */
.header-menu-video-wrap{
    position: absolute;
    z-index: 10;
    width: 580px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 3px;
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.22);
    display: none;
    animation: ani linear 0.3s;
}

.header-item:hover .header-menu-video-wrap{
    display: block;
}

.header-menu-video{
    display: flex;
    justify-content: space-around;
}

.header-menu-video-element{
    margin: 20px 0;
}

.header-menu-video-heading{
    font-size: 18px;
    font-weight: 700px;
    margin-bottom: 20px;
    color: #222222;
}

.header-menu-video-ul{
    padding: 0;
}

.header-menu-video-li{
    list-style: none;
    margin-bottom: 20px;
}

.header-menu-video-li:last-child{
    margin-bottom: 0;
}

.header-menu-video-link{
    text-decoration: none !important;
    font-size: 14px;
    color: #222222;
    font-weight: 500;
}

.header-menu-video-link:hover{
    color:#909090;
}
/* Menu BXH */
.header-menu-bxh-wrap{
    position: absolute;
    z-index: 1;
    width: 106px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 3px;
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.22);
    display: none;
    animation: ani linear 0.3s;
}

.header-item:hover .header-menu-bxh-wrap{
    display: block;
}

.header-menu-bxh{
    display: flex;
    justify-content: space-around;
}

.header-menu-bxh-element{
    margin: 20px 0;
}

.header-menu-bxh-ul{
    padding: 0;
}

.header-menu-bxh-li{
    list-style: none;
    margin-bottom: 20px;
}

.header-menu-bxh-li:last-child{
    margin-bottom: 0;
}

.header-menu-bxh-link{
    text-decoration: none !important;
    font-size: 14px;
    color: #222222;
    font-weight: 500;
}

.header-menu-bxh-link:hover{
    color:#909090;
}
/* Menu Chu De */
.header-menu-chude-wrap{
    position: absolute;
    z-index: 10;
    width: 580px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 3px;
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.22);
    display: none;
    animation: ani linear 0.3s;
}

.header-item:hover .header-menu-chude-wrap{
    display: block;
}

.header-menu-chude{
    display: flex;
    justify-content: space-around;
}

.header-menu-chude-element{
    margin: 20px 0;
}

.header-menu-chude-ul{
    padding: 0;
}

.header-menu-chude-li{
    list-style: none;
    margin-bottom: 20px;
}

.header-menu-chude-li:last-child{
    margin-bottom: 0;
}

.header-menu-chude-link{
    text-decoration: none !important;
    font-size: 14px;
    color: #222222;
    font-weight: 500;
}

.header-menu-chude:hover{
    color:#909090;
}
/* Menu Top 100 */
.header-menu-top100-wrap{
    position: absolute;
    z-index: 1;
    width: 106px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 3px;
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.22);
    display: none;
    animation: ani linear 0.3s;
}

.header-item:hover .header-menu-top100-wrap{
    display: block;
}

.header-menu-top100{
    display: flex;
    justify-content: space-around;
}

.header-menu-top100-element{
    margin: 20px 0;
}

.header-menu-top100-ul{
    padding: 0;
}

.header-menu-top100-li{
    list-style: none;
    margin-bottom: 20px;
}

.header-menu-top100-li:last-child{
    margin-bottom: 0;
}

.header-menu-top100-link{
    text-decoration: none !important;
    font-size: 14px;
    color: #222222;
    font-weight: 500;
}

.header-menu-top100-link:hover{
    color:#909090;
}

/* end header-left */

/* start header-right */
.header-main-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-icon{
    position: relative; 
}

/* .header-icon-link{

} */

.header-icon:hover .header-icon-list{
    display: block;
}


.header-icon-element{
    font-size: 24px !important;
    color: #909090;
}

.header-icon-element:hover{
    color: #222222;
}

.header-icon-list{
    width: 184px;
    position: absolute;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.22);
    left: -100%;
    display: none;
    animation: ani linear 0.2s;
    z-index: 1;
}

.header-icon-ul{
    list-style: none;
    padding: 0 20px;
    margin: 0;
    width: 100%;
}

.header-icon-li{
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.header-icon-li:last-child{
    border-bottom: none;
}

.header-icon-li-link{
    text-decoration: none !important;
    font-size: 14px;
    color: #222222;
    font-weight: 600;
}


.header-icon-li-link:hover{
    color: #909090;
}
/* Nhac cua tui */
.header-icon-headphone{
    position: relative;
    z-index: 1;
}

.header-icon-headphone-link{

}

.header-icon-headphone:hover .header-icon-headphone-list{
    display:block;
}

.header-icon-headphone-element{
    font-size: 24px !important;
    color: #909090;
}

.header-icon-headphone-element:hover{
    color: #222222;
}

.header-icon-headphone-list{
    width: 184px;
    position: absolute;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.22);
    left: -100%; 
    display: none;
    animation: ani linear 0.2s;
    z-index: 10;
}

.header-icon-headphone-ul{
    list-style: none;
    padding: 0 20px;
    margin: 0;
    width: 100%;
}

.header-icon-headphone-li{
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.header-icon-headphone-li:last-child{
    border-bottom: none;
}

.header-icon-headphone-li-link{
    text-decoration: none !important;
    font-size: 14px;
    color: #222222;
    font-weight: 600;
}

.header-icon-headphone-li-link:hover{
    color: #909090;
}

/* end Nhac cua tui */

.header-search{
    width: 240px;
    height: 30px;
    border-radius: 15px;
    line-height: 30px;
    position: relative;
}

.header-form,
.header-form-input{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.header-form{
    position: relative;
}

.header-form-input{
    border: none;
    outline: none;
    font-size: 12px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    font-weight: 500;
}

.header-form-input:focus ~ .header-input-icon{
    display: block !important;
}

.header-btn{
    border: none;
    background-color: #f5f5f5;
    border-radius: 15px;
    position: absolute;
    left: 5px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    outline: none !important;
}

.header-btn-icon{
    font-size: 14px !important;
    font-weight: 100;
    color:#d0cece;
}

.header-input-icon{
    width: 280px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.22);
    position: absolute;
    top: 144%;
    left: -23px;
    display: none;
    animation: ani linear 0.6s;
    z-index: 10;
}

.header-input-heading{
    font-size: 16px;
    height: 40px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #cfcfcf;
    line-height: 40px;
    text-align: center;
    margin-bottom: 0;
    color: #4e4e4e;
}

.header-input-ul{
    padding:0 20px ;
    list-style: none;
    margin-bottom: 0;
}

.header-input-li{
   padding: 10px 0;
    
}

.header-input-li-link{
    font-size: 14px;
    color: #222222;
    font-weight: 500;
     text-decoration: none !important;
}

.header-input-li-link:hover{
    color: #909090;
}

/* body-main */
.body-main{
    margin-top: 15px;
}

/* body-main-left */
/* .body-main-left{

} */

.body-slideShow{
    width: 100%;
    height: 418px;
}

.body-slideshow-ul{
    list-style: none;
}

/* .body-slideshow-li{

} */


.body-slideShow .lSGallery li{
    width: 162px !important;
    box-sizing: border-box;
}

.body-slideShow .lSGallery li:hover{
    border-left:4px solid #e74c3c;
}

.lSPager.lSGallery li:last-child{
    margin-right: 0 !important;
}

/* Nghe gi hom nay */
.body-nghegi{
    margin-top: 10px;
}

.body-nghegi-heading{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 36px;
}

.body-nghegi-heading-link{
    text-decoration: none !important;
}

.body-nghegi-container{
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.body-nghegi-box{
    list-style: none;
    width: 152px;
}

.body-nghegi-box-link{
    color: #4e4e4e !important;
    width: 100%;
    text-decoration: none !important;
}

.body-nghegi-box-link:hover{
    color:#4e4e4e !important;
}

.body-nghegi-box-img-wrap{
    height: 152px;
    width: 100%;
    position: relative;
}

.body-nghegi-headphone-icon{
    position:absolute;
    display: flex;
    top: 0;
    right: 0;
    line-height: 26px;
    height: 26px;
    align-items: center;
    justify-content: space-around;
    background: url(../img/bg_view_listen.png);
}

.body-nghegi-headphone{
    margin-top: 2px;
    color: #c7c7c7;
    font-size: 12px !important;
}

.body-nghegi-headphone-number{
    color: #c7c7c7;
    font-size: 12px;
    font-weight: 500;
    padding-right: 4px;
}

.body-nghegi-box-img-background{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color:rgba(34, 34, 34,0.4) ;
    animation: ani ease-in 0.4s;
}

.body-nghegi-icon{
    position: absolute;
    top: 34%;
    left: 34%;
    width: 48px;
    height: 48px;
}

.body-nghegi-icon-img{
    width: 100%;
    height: 100%;
}

.body-nghegi-box-img-wrap:hover
.body-nghegi-box-img-background {
    display: block;
}

.body-nghegi-box-img{
    width: 100%;
}

.body-nghegi-box-tittle{
    margin-top: 10px;
    display: block;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
}

.body-nghegi-box-tittle:hover{
    color: #007bff;
}
/* BH Mới Phát Hành */
.body-moiphathanh{
    margin-top: 10px;
}

.body-moiphathanh-heading{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 36px;
}

.body-moiphathanh-heading-link{
    text-decoration: none !important;
}

.body-moiphathanh-container{
    display: flex;
    justify-content: space-between;
    padding:0;
    margin-top: 8px;
}

.body-moiphathanh-box{
    list-style: none !important; 
    width: 152px;
}

.body-moiphathanh-box-link{
    text-decoration: none !important;
    color: #4e4e4e !important;
    width: 100%;
}

.body-moiphathanh-box-link:hover{
    color: #4e4e4e !important;
}

.body-moiphathanh-box-img-wrap{
    height: 152px;
    width: 100%;
    position: relative;
}

.body-moiphathanh-box-img{
    width: 100%;
}

.body-moiphathanh-box-headphone{
    position: absolute;
    top: 0;
    right: 0;
    color: #c7c7c7;
    justify-content: space-around;
    font-size: 12px;
    font-weight: 500;
    line-height: 26px;
    height: 26px;
    background: url(../img/bg_view_listen.png);
}

/* .body-moiphathanh-headphone{
    
} */

.body-moiphathanh-headphone-number{
    padding-right: 4px;
} 

.body-moiphathanh-box-img-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color:rgba(34, 34, 34,0.4) ;
    animation: ani ease-in 0.4s;
}

.body-moiphathanh-box-img-wrap:hover 
.body-moiphathanh-box-img-background{
    display: block;
}

.body-moiphathanh-icon{
    position: absolute;
    top: 32%;
    left: 36%;
    width: 48px;
    height: 48px;
}

.body-moiphathanh-icon-img{
    width: 100%;
    height: 100%;
}

.body-moiphathanh-box-tittle{
    margin-top: 10px;
    display: block;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
}

.body-moiphathanh-box-tittle:hover{
    color: #007bff;
}

.body-moiphathanh-box-singer{
    font-size: 14px;
    font-weight: 500;
    text-decoration: none !important;
    cursor: pointer;
    color: #909090;
}

.body-moiphathanh-box-singer:hover{
    color: rgba(0,123,255,0.2s);
}
/* Bài Hát */
.body-baihat{

}

.body-baihat-heading{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 10px;
}

.body-baihat-heading-link{
    text-decoration: none !important;
}

.body-baihat-container-wrap{
    display: flex;
    justify-content: space-between;
}

.body-baihat-container{
    list-style: none;
    padding:0;
    width: 48%;
}

.body-baihat-box{

}

.body-baihat-box-wrap{
  position: relative;
  display: flex;
  align-items: center;
}

.body-baihat-box-element{
    display: flex;
    border-top: 1px solid #ececec;
    align-items: center;
    padding: 6px;
    width: 100%;
}

.body-baihat-box-link{
    
}

.body-baihat-box-img{
    width: 62px;
    height: 60px;
}

.body-baihat-box-name{
    
    margin-left: 10px;
}

.body-baihat-box-tenbh{
    display: block;
    font-size: 14px;
    color: #4e4e4e;
    font-weight: 500;
    text-decoration: none !important;
}

.body-baihat-box-tencs{
    font-size: 12px;
    color: #909090;
    font-weight: 400;
    text-decoration: none !important;
}

.body-baihat-box-headphone{
    position: absolute;
    right: 0;
}

.body-baihat-box:hover 
.body-baihat-headphone,
.body-baihat-box:hover 
.body-baihat-headphone-number{
    display: none !important;
}

.body-baihat-box:hover 
.body-baihat-headphone-add{
    display: inline-block;
}

.body-baihat-headphone{
    color: #999999;
    font-size: 12px !important;
    line-height: 24px;
}

.body-baihat-headphone-number{
    color: #999999;
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
}

.body-baihat-headphone-add{
    color: #9f9f9f;
    padding: 0 4px;
    font-size: 15px;
    text-decoration: none !important;
    display: none;
}

.body-baihat-headphone-add:hover{
    color: #44b3ef;
}
.body-baihat-headphone-add:hover i{
    animation: updown ease-in 0.5s;
}
/* body main right 
    slide ca si
*/

.body-slidecasi{
    position: relative;
}

.body-slidecasi-name{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    color: #1d1d1d;
}

.body-slidecasi-ul{
    height: 300px !important;
}

.body-slidecasi-li img{
    width: 100%;
}

.body-slidecasi .lSGallery{
    width: 170.5px !important;
    position: relative;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin: 5px auto!important;
}

.body-slidecasi .lSSlideWrapper{
    background-color: #f1f1f1;
    /* border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px; */
}

.body-slidecasi .lSGallery li{
    width: 30px !important;
    border-radius: 50% !important;
    border: none !important;
    box-sizing: border-box;
}

.body-slidecasi .lSGallery li::after{
    content: "hello";
    position: absolute;
    display: block;
    z-index: 10;
}

.body-slidecasi .lSGallery li:hover{
    border: 1px solid #2eaaee !important;
}

.body-slidecasi-title{
    display: flex;
    width: 100%;
    height: 68px;
    background-color: #f1f1f1;
}

.body-slidecasi-trending{
    margin: auto;
    font-size: 16px;
    font-weight: 400;
    color: #787878;
}
/* body Chủ đề hot */
.body-chudehot{

}

.body-chudehot-heading{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 22px;
    padding-top: 26px;
}

.body-chudehot-link-heading{
    text-decoration: none !important;
}

.body-chudehot-container{
    padding: 0;
}

.body-chudehot-wrap{
    list-style: none !important;
    padding-top: 16px;
}

 .body-chudehot-link{

}

.body-chudehot-img{
    width: 100%;
} 
/* BXH Bài Hát */
.body-bxhbh{

}

.body-bxhbh-heading{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 22px;
    padding-top: 24px;
    display: flex;
    
}

.body-bxhbh-heading-link{
    text-decoration: none !important;
}

.body-bxhbh-iconplay .fa{
    width: 32px;
    height: 32px;
    margin-left: 10px;
    color: #9f9f9f;
}

.body-bxhbh-list{
    margin-top: 12px;
    border-radius: 12px;
    background-color: #e5e5e5;
    justify-content: space-between;
}

.body-bxhbh-list.nav-tabs{
    border: none !important;
    overflow: hidden;
}

.body-bxhbh-list-item{
}

.body-bxhbh-list-link{
    padding: 6px 15px !important;
    color: #222 !important;
    font-size: 14px;
    font-weight: 450;
}


.body-bxhbh-list-item .nav-link{
    border: none !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.body-bxhbh-list-item .nav-link:hover{
    border: none !important;
    background-color:#e74c3c !important;
    color: #fff !important;
}
.body-bxhbh-list-item .nav-link.active{
    background-color:#e74c3c !important;
    border-radius: 0 !important;
    color: #fff !important;
}

.body-bxh-tab-content

.body-bxh-tab-pane:not(.show){
    display: none;
}

.body-bxh-tab-container{
    padding: 0;
}

.body-bxh-tab-wrap{
    list-style: none !important;
    display: flex;
    margin-top: 16px;
}

.body-bxh-tab-num_image{
    position: relative;
}

.body-bxh-tab-number{
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0px;
    width: 32px;
    height: 32px;
    font-size: 20px;
    border: #e74c3c solid 1px;
    line-height: 32px;
    background: #e74c3c;
    color: #FFFFFF;
    padding-left: 10px;
    font-weight: 500;
}

.body-bxh-number_2{
    font-size: 20px;
    color: #7a99c7;
    padding-left: 10px;
    font-weight: 500;
}

.body-bxh-number_3{
    font-size: 20px;
    color: #256524;
    padding-left: 10px;
    font-weight: 500;
}

.body-bxh-number{
    font-size: 20px;
    color: #;
    padding-left: 10px;
    font-weight: 500;
}

.body-bxh-tab-link{

}

.body-bxh-tab-img{
    width: 102px;
    height: 102px;

}

.body-bxh-name{
    margin-left: 10px;
}

.body-bxh-heading-namebh{
    display: block;
    font-size: 14px;
    color: #4e4e4e;
    font-weight: 500;
    text-decoration: none !important;
}

.body-bxh-heading-namebh:hover{
    color: #0056b3;
}

.body-bxh-heading-namecs{
    font-size: 12px;
    color: #909090;
    font-weight: 400;
    text-decoration: none !important;
}

.body-bxh-heading-namecs:hover{
    color: #0056b3;
}

/* footer main */
.footer-main{
    margin-top: 76px;
    padding-top: 0;
    background-color: #282828;
    color: #a9a9a9;
}

.footer-container{
    margin-top: 76px;
    padding-right: 82px;
}

.footer-wrap{
    display: flex;
    justify-content:space-evenly;
    border-bottom: 1px solid ##4a4a4a;
}

.footer-element{
}

.footer-heading{
    font-size: 18px;
    font-weight: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #e0e0e0;
}

.footer-ul{
    padding: 0;
}

.footer-li{
    list-style: none;;
}

.footer-link{
    font-size: 14px;
    color: #a9a9a9;
    font-weight: 500;
}

.footer-main hr{
    border-color: #4a4a4a;
    width: 82%;
}

.footer-bottom{
   
}

.footer-ul-bottom{
    display: flex;
    justify-content:center ;
    list-style: none;
    padding-bottom: 20px;
    
}

.footer-lipoint-bottom{
    line-height: 20px;
    font-size: 22px;
    color: #404040;
}

.footer-li-bottom{
    font-size: 14px;
    color: #404040;
    margin: 0 5px;
}

.footer-link-bottom{
    font-size: 14px;
    color: #404040;
}

/* end footer */

/* playlist */
.body-main-playtist-left 

.body-main-playlist-tiltle{
    border-radius: 4px;
    color: #fff;
    background: #e74c3c;
    width: max-content;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
}

.body-playlist-top{
    margin-bottom: -14px;
}

.body-playlist-theloai{
    display: flex;
    padding: 10px;
    border-top: 1px solid #e5e5e5;
}

.body-playlist-li-title{
    list-style: none;
    /* margin-right: 70px; */
    width: 174px;

}

.body-playlist-heading-theloai{
    font-size: 20px;
    font-weight: bold;
    margin-top: 8px;
    padding-left: 10px;
}

.body-playlist-box{
   
}

.body-playlist-box-wrap{
    display: flex;
}

.body-playlist-box1{
    display: flex;
}

.body-playlist-boxtop{
    display: flex;
}

.body-playlist-li-theloai{
    list-style: none;
    margin: 12px 40px 14px; 
    text-decoration: none !important;
}

.body-playlist-link-theloai{
    font-size: 15px ;
    color:#333;
    font-weight: 500;
    text-decoration: none !important;
}

.body-playlist-link-theloai:hover{
    background-color: #e74c3c;
    width: max-content;
    border-radius: 4px;
    color: #fff;
    padding: 3px 2px 2px 5px;
}

.body-playlist-box-bottom{
    display: flex;
}

.body-playlist-heading{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #2eaaee;
}

/* Tạo Playlist nhạc */

.body-playlist-heading{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #2eaaee;
}

.body-playlist-thongtin{
    /* background-color: #3e3e52; */
    width: 100%;
}

.body-playlist-thongtin-wrap{
    float: left;
    width: 100%;
    position: relative;
    height: 272px;
    background: #555555;
    overflow: hidden;
}

.body-playlist-thongtin-left{
   
}

.body-playlist-avatar{

}

.body-playlist-avatar-link{
   
}

.body-playlist-avatar-img{
    width: 106px;
    height: 106px;
    -webkit-border-radius: 53px;
    -moz-border-radius: 53px;
    border-radius: 53px;
    border: 2px solid #FFFFFF;
    margin: 64px 0 0 110px;
}

.body-playlist-username{
    margin: -116px 0 0 230px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 600;
}

.body-playlist-detail p{
    margin: -2px 0 0 230px;
    color: #ffffff;
    font-weight: 600;
}

.body-playlist-pointlx{
    font-size: 40px ;
    margin: 26px 0 0 108px;
    color: #ffffff;
    font-weight: 600;
}

.body-playlist-luotxem{
    font-size: 14px;
    margin: -28px 0 0 124px;
    color: #ffffff;
    font-weight: 600;
}

.body-playlist-pointln{
    font-size: 40px ;
    margin: -53px 0 0 186px;
    color: #ffffff;
    font-weight: 600;

}

.body-playlist-luotnghe{
    font-size: 14px;
    margin: -28px 0 0 202px;
    color: #ffffff;
    font-weight: 600;
}

/* menu playlist */

.body-playlist-menu{
    background-color: #f4f4f4;
    width: 100%;
    height: 52px;
    display: flex;
}

.body-playlist-element{
    margin: 5px 10px 5px 10px;
}



.body-playlist-menu-link{
    color: #222222;
    text-decoration: none !important;
    font-weight: 500;
}

.body-playlist-menu-iconhome{
    width: 24px;
    height: 22px;
    margin: -4px 0 0 52px;
}
/* tao sua playlist */

.body-playlist-taosua{
    background-color: none;
    /* display: flex; */
}

.body-playlist-taolist{
    margin: -16px 0px -34px 502px;
    background-color: #e74c3c;
    width: max-content;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: 450;
}

.body-playlist-taolist:hover{
    background-color:  #a9a9a9;
    width: max-content;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 450;
}

.body-playlist-taolist-iconpen{
    width: 12px;
    height: 12px;
    color: #e0e0e0;
}

.body-playlist-taolist-link{
    text-decoration: none !important;
    color: #e0e0e0;
}

.body-playlist-sualist{
    margin: 10px 0 -4px 630px;
    background-color: #e74c3c;
    width: max-content;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: 450;
}

.body-playlist-sualist:hover{
    background-color:  #a9a9a9;
    width: max-content;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 450;
}

.body-playlist-sualist-iconpen{
    width: 12px;
    height: 12px;
    color: #e0e0e0;
}

.body-playlist-sualist-link{
    text-decoration: none !important;
    color: #e0e0e0;
}

.body-playlist-sualist-link:hover{
}

@media only screen{
    h3{
        color: #e74c3c;
    }
}










